# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-general.html
option_settings:
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    MonitoringInterval: "5 minutes"
    # Check if the Image is compatible with AWS-EB + your platform:
    # http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/concepts.platforms.html
    # ImageId: "ami-d15a75c7" # Ubuntu 16.04 LTS (HVM) | us-east-1
